{
"HTMLFileName":"Virtual_Biology_Lab.html",
"usedBOM":"false",
"stage-Default Timeline_playhead_ms":"0",
"CompZoomFactor":"100",
"ModelData":"{\
\"stage\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
      }\
   }}\
}"}